@charset "utf-8";

.container {}

.despriction {
    margin: 0 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(141, 194, 231);
}

.d-flex {
    display: flex;
    justify-content: center;
}
.btn-primary {
    margin: 10px 2px;
    padding: 7px 10px;
    color: #eee;
    background-color: rgb(28, 83, 210);
    border: 1px solid blue;
    border-radius: 5px;
}